# ENVIRONMENT
test.environment.url=http://localhost/WATS/svn_3.0/index.php
test.environment.adminurl=http://localhost/WATS/svn_3.0/administrator/index.php

#EMAIL
email.server=example.org:110
email.type=pop3
email.username=username
email.password=password
